$primary-color: #3f51b5;
$warn-color: #f44336;
$white-color: #fff;

$full-width: 100%;
$elevation-z8: 8px;
$large-size: 350px;
$medium-size: 24px;
$houses-grid-gap: 20px;
$house-item-padding: 20px;
$house-item-margin: 10px;
$house-item-border-radius: 10px;
$house-item-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$house-item-bg-color: #fff;

.allHouses {
  margin-top: 40px; // Adjust this value to create more space above "Existing Houses"
}

.houses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $houses-grid-gap;
}

.house-item {
  padding: $house-item-padding;
  margin-bottom: $house-item-margin;
  border-radius: $house-item-border-radius;
  box-shadow: $house-item-box-shadow;
  background-color: $house-item-bg-color;
}


body {
  margin-left: 20px;
  padding: 0;
  font-family: Roboto, sans-serif;
}

button[color="primary"] {
  background-color: $primary-color;
  color: $white-color;
}

button[color="warn"] {
  background-color: $warn-color;
  color: $white-color;
}

.allHouses {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.house-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px; 
}


.form-container {
  display: flex;
  flex-direction: column;
  padding: $medium-size;
  box-shadow: 0 $elevation-z8 $elevation-z8 rgba(0, 0, 0, 0.2);
  width: 300px; 
}

.list-item-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.round-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px; // adjust this value as needed
  background-color: $primary-color;
  color: $white-color;
  height: 36px;
  width: 36px;
}

.small-icon {
  font-size: 16px; // adjust this value as needed
  width: 16px;
  height: 16px;
}