:host {
  flex-grow: 1;

}

.personal-infomation {
  padding: 24px;
 
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    h2 {
      margin-bottom: 0;
    }

    .btns {
      margin-left: 24px;
    }
  }
}
