<div class="personal-infomation">
  <div class="header">
    <h2>Personal Infomation</h2>
    <div class="btns">
      <button mat-raised-button *ngIf="isEdit" (click)="handleCancel()">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="!isEdit"
        (click)="handleEdit()"
      >
        Edit
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="isEdit"
        style="margin-left: 12px"
        (click)="handleSave()"
      >
        Save
      </button>
    </div>
  </div>
  <app-personal-infomation-form
    [user]="user"
    [isEdit]="isEdit"
    (handleAvatarUpload)="handleAvatarUpload($event)"
    (handleDriverLicenseUpload)="handleDriverLicenseUpload($event)"
    #personForm
  ></app-personal-infomation-form>
  <!-- [handleAuthDocUpload]="handleAuthDocUpload($event)" -->
</div>
