:host {
    flex-grow: 1;
    padding:20px;
}
mat-button-toggle-group{
    margin-bottom:8px;
}
mat-button-toggle{
    min-width: 90px;
}

.workAuthCell{
    margin:16px 0;
    h3{
        font-weight: bold;
        margin-bottom:5px;
    }
    p{
        margin:0;
        
    }
}
button{
    margin: 5px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    

    input {
        font-size: 16px;
        padding: 8px;
        width: 320px;
    }

    button {
        margin-left: 24px;
    }
}
.documentTableData{
    display: flex;
   justify-content: baseline;
   margin:3px 0;
    mat-icon{
     
       font-size: 20px;
    }
}