:host {
    flex-grow: 1;
    padding:20px;
}

form{
    display:flex;
    flex-direction:column;
    max-width:600px;
    
    .form-input{
        display: flex;
        justify-content: space-between;
    }
    mat-form-field{
        width:280px;
    }
    mat-form-field[name="email"]{
        margin-right:10px;
    }
}
mat-divider{
    margin:20px 0;
}
mat-button-toggle-group{
    margin-bottom: 16px;
}
tr[mat-row]:hover {
    background-color: rgb(233, 233, 233);
}