<mat-card *ngIf="house" class="house-card">
  <mat-card-title>House Details</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item><b>Address:</b> {{ house.address }}</mat-list-item>
      <mat-list-item><b>Landlord:</b> {{ house.landlord.legalFullName }}</mat-list-item>
      <mat-list-item><b>Email:</b> {{ house.landlord.email }}</mat-list-item>
      <mat-list-item><b>Number of beds:</b> {{ house.facility.beds }}</mat-list-item>
      <mat-list-item><b>Number of mattresses:</b> {{ house.facility.mattresses }}</mat-list-item>
      <mat-list-item><b>Number of tables:</b> {{ house.facility.tables }}</mat-list-item>
      <mat-list-item><b>Number of chairs:</b> {{ house.facility.chairs }}</mat-list-item>
    </mat-list>
  </mat-card-content>

  <div class="report-header">
    <h3 class="mat-card-title">Facility Reports</h3>
    <!-- <div class="sort-buttons"> -->
    <!-- <button mat-raised-button color="primary" (click)="toggleSortByLatest()">
        Sort by {{ sortByLatest ? 'Latest' : 'Oldest' }}
      </button> -->
    <!-- </div> -->
  </div>
  <mat-card-content *ngFor="let report of sortedReports | slice:(page-1)*pageSize:page*pageSize" class="report-card">
    <mat-list>
      <mat-list-item><b>Title:</b> {{ report.title }}</mat-list-item>
      <mat-list-item><b>Description:</b> {{ report.description }}</mat-list-item>
      <mat-list-item><b>Created By:</b> {{ report.createdBy | username | async }}</mat-list-item>
      <mat-list-item><b>Timestamp:</b> {{ report.timestamp | date:'yyyy-MM-dd' }}</mat-list-item>
      <mat-list-item><b>Status:</b> {{ report.status }}</mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <div>
      <h4>Comments:</h4>
      <mat-list *ngFor="let comment of report.comments" class="comment-card">
        <mat-list-item><b>Description:</b> {{ comment.description }}</mat-list-item>
        <mat-list-item><b>Created By:</b> {{ comment.createdBy | username | async }}</mat-list-item>
        <mat-list-item><b>Timestamp:</b> {{ comment.timestamp | date:'yyyy-MM-dd' }}</mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </div>
    <form (submit)="addComment(report._id, newComment[report._id])">
      <mat-form-field>
        <textarea matInput [(ngModel)]="newComment[report._id]" placeholder="Add a comment"
          name="newComment"></textarea>
      </mat-form-field>
      <button type="submit" mat-raised-button>Add Comment</button>
    </form>
  </mat-card-content>

  <mat-paginator [length]="sortedReports.length" [pageSize]="pageSize" (page)="pageEvent = $event"></mat-paginator>

  <h3 class="mat-card-title">Roommates</h3>
  <mat-card-content *ngFor="let roommate of house.roommates" class="roommate-card">
    <mat-list>
      {{roommate._id}}
      <mat-list-item><a [routerLink]="['/employee-profiles', '645b477a6b91983b4967bbd7']"><b>{{ roommate.preferredName
            ||
            roommate.legalFullName
            }}</b></a></mat-list-item>
      <!-- <mat-list-item><a [routerLink]="['/employee-profiles', roommate._id]"><b>{{ roommate.preferredName || -->
      <mat-list-item><b>Phone Number:</b> {{ roommate.phoneNumber }}</mat-list-item>
      <mat-list-item><b>Email:</b> {{ roommate.email }}</mat-list-item>
      <mat-list-item><b>Car Information:</b> {{ roommate.carInformation }}</mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>