<ng-container *ngIf="loading; else content">
  <p>loading.....</p>
</ng-container>

<ng-template #content>
  <mat-card
    class="signup-card"
    *ngIf="this.sigupForm.controls['email'].value;else CannotSignup"
  >
    <mat-card-title class="signup-title">Registration</mat-card-title>
    <mat-card-content>
      <form [formGroup]="sigupForm" (submit)="signup()">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Username"
            formControlName="username"
            name="username"
            required
          />
          <mat-error
            *ngIf="sigupForm.controls['username'].hasError('required')"
          >
            Username is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Email"
            formControlName="email"
            name="email"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            name="password"
            (input)="password$.next($event.target)"
            required
          />
          <mat-error
            *ngIf="sigupForm.controls['password'].hasError('required')"
          >
            Password is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            name="confirmPassword"
            (input)="confirmPassword$.next($event.target)"
            required
          />

          <mat-error
            *ngIf="sigupForm.controls['confirmPassword'].hasError('required')"
          >
            Confirm password is required!
          </mat-error>
          <mat-error
            *ngIf="sigupForm.controls['confirmPassword'].hasError('passwordMismatch')"
          >
            Passwords do not match!
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="sigupForm.invalid"
        >
          Signup
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  <ng-template #CannotSignup
    ><div class="cannot-signup-message">
      <p>Sorry, you cannot sign up without invitation!</p>
    </div></ng-template
  >
</ng-template>
