<p>{{user.workAuthDoc[user.workAuthDoc.length - 1].type}}</p>
<p>{{user.workAuthDoc[user.workAuthDoc.length - 1].status}}</p>
<div *ngIf="user.workAuthDoc[0].type === 'OPT_Receipt'">
    <ng-container *ngIf="user.workAuthDoc[user.workAuthDoc.length - 1].type === 'OPT_Receipt'">
      <app-opt-receipt [workAuthDoc]="user.workAuthDoc"></app-opt-receipt>
    </ng-container>
    <!-- <ng-template #optEadOrI983OrI20>
      <ng-container *ngIf="user.workAuthDoc[user.workAuthDoc.length - 1].type === 'OPT_EAD'; else I983OrI20">
        <app-opt-ead [user]="user"></app-opt-ead>
      </ng-container>
      <ng-container *ngIf="user.workAuthDoc[user.workAuthDoc.length - 1].type === 'I983'; else I20">
        <app-i983 [user]="user"></app-i983>
      </ng-container>
      <ng-container *ngIf="user.workAuthDoc[user.workAuthDoc.length - 1].type === 'I20'">
        <app-i20 [user]="user"></app-i20>
      </ng-container> -->
    <!-- </ng-template> -->
  </div>
