:host {
  mat-form-field + mat-form-field {
    margin-left: 12px;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 44px;
    height: 44px;
    padding: 8px;
    border-radius: 50%;
    margin-right: 12px;
  }

  button {
    width: 100px;
  }

  mat-card {
    margin-top: 32px;
  }
}
