.housing-details {
  max-width: 800px;
  margin: 0 auto;
  // margin-top: 20px;
  margin-left: 20px;
}

mat-card-title,
h2 {
  color: #3f51b5;
}

.comment-list {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
}

mat-card-title {
  margin: 15px;
}

.createReport {
  display: flex;
  flex-direction: column;
}

.comment-btn,
button[mat-button] {
  color: white;
  background-color: #3f51b5;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.comment-btn {
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

button[mat-button]:hover {
  background-color: white;
  color: black;
}

.address {
  font-size: 20px;
  color: #333;
}

.section-title {
  font-size: 18px;
  color: #555;
}

.roommate-info {
  font-size: 16px;
  color: #777;
}

.report-title {
  font-size: 18px;
  color: #333;
}

.report-description {
  font-size: 16px;
  color: #666;
}

.report-info {
  font-size: 14px;
  color: #888;
}

.comment-btn {
  font-size: 14px;
  color: #fff;
}

.create-report-btn {
  font-size: 16px;
  color: #fff;
}

.section-title {
  margin-top: 30px;
}

.edit-comment-form {
  position: relative;
  z-index: 1;
}

mat-list-item {
  height: auto;
  overflow: visible;
}

.comment-details {
  flex-grow: 1;
}

.comment-btn {
  margin-left: 10px;
}

.comment-list {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 100px; 
}

.comment-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.comment-description {
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  // justify-content: center;
}

.comment-metadata {
  font-size: 14px;
  color: #888;
  margin-top: 4px;
}

.comment-textarea {
  flex-grow: 1;
  height: auto;
  // max-height: 100px; /* Adjust the height as needed */
  overflow-y: auto;
  resize: vertical; /* Allow vertical resizing */
}
